@font-face{
  font-family: 'Poppins Regular Webfont';
  src: url('../fonts/Poppins-Regular.woff') format('woof');
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Poppins Bold Webfont';
  src: url('../fonts/Poppins-Bold.woff') format('woof');
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Poppins Light Webfont';
  src: url('../fonts/Poppins-Light.woff') format('woof');
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
}

.navbar-dark, .part-one, .indigo{
  background-color: rgb(178, 184, 228);
}


h1{  
    font-size: 50px;
    margin-top: 4rem; 
    font-family: 'Poppins Regular Webfont';

}

.title-main-page{
  color: white;
}

.text-contact, .text-about, .text-mision{
  color:black;
  font-size: 20px;
  font-family: 'Poppins Light Webfont';
  
}

.navbar{
  font-family: 'Poppins Regular Webfont';
}

.fondo{
  width: 100%;
  height: 100%;
}

.woman-header{
  width: 50%;
  height: 100%;
  margin: auto;
  display: block;
}

.text-welcome{
  color: white;
  font-size: 25px;
}

.img-one-np{
  position: relative;
  width: 100%;
  height: 100%;
}
.img-one-np{
  position: relative;
  width: 100%;
  height: 100%;
}
.img-one-np{
  position: relative;
  width: 100%;
  height: 100%;
}
.img-one-np{
  position: relative;
  width: 100%;
  height: 100%;
}

.text-footer{
  color: white;
  font-family: 'Poppins Light Webfont';
}

.text-footer-hu, .text-footer-in,  .text-footer-cu{
  color: white;
  line-height: 1.7rem;
  font-family: 'Poppins Light Webfont';
}

.text-footer-hu{
  font-size: 40px;
}

.text-footer-in{
  font-size: 20px;
}

.text-footer-cu{
  font-size: 30px;
}

.ic {
  width: 3vw;
}